.q1{
    background-color: green;
    color: azure;
    border-radius: 7px;
}
.t1{
background-color: brown;
border-radius: 23px;
}
.ans1 input {
    background-color: rgb(181, 198, 72);
}
#btn1 {
    background-color: blueviolet;
  
}